

/*----------  INDEX   ----------*/

.blur_bg{
	height: 100%;
	width: 100%;
	position: absolute;

	/* Firefox */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
	/* Saf4+, Chrome */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, rgba(255, 255, 255, 0.4)), color-stop(1, rgba(0, 0, 0, 0.4)));
}

/*----------  GAME OVER   ----------*/

.game_over{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(19, 19, 19, 0.7);

	z-index: 110;
}

.game_over .reset_form{
	width: 80%;

	padding: 30px;
	margin: 50% auto;

	background: #eee;
	border-radius: 30px;
}

.game_over h1{
	text-align: center;
	color: #aaa;
	margin: 0 0 8% 0;
}

.game_over .reset{
	width: 40%;
	margin: 0 auto;
	padding: 15px;

	text-align: center;
	color:#aaa;

	border: 2px solid #aaa;
	border-radius: 20px;

	cursor: pointer;
}

/*----------  SELECTIONS   ----------*/

.sel{
	position: absolute;
	width: 100%;
	height: 100px;
	background: rgba(53, 53, 53, 0.60);

	display: none;
}

.answer{
	position: relative;
	top: 20%;
	margin: 20px 60px;
	padding:15px;

	border: 2px solid #fff;
	border-radius: 25px;

	color: #fff;
	text-align: center;

	cursor: pointer;
}

.sel:first-child{
	margin: 60px;
}

/*----------  TREASURE   ----------*/

.images .treasure{
	width: 100%;
	height: 100%;
	position: absolute;
}

.images .treasure img{
	position: absolute;

	width: 12%;


	opacity: 0;

}

#diamond_1{
}

#diamond_2{

}

.images .treasure span{
	position: absolute;
	text-align: center;
	bottom: -16%;

	padding: 10px 30px;

	color: #eeeeee;
	background: rgba(51, 51, 51, 1);

	border-radius: 20px;

	z-index: 100;
	display: none;
}

/*========================================*/
/*               ANIMATION                */
/*========================================*/

@keyframes fade-in {
        0% {opacity: 0;}/*初始状态 透明度为0*/
        40% {opacity: 0;}/*过渡状态 透明度为0*/
        100% {opacity: 1;}/*结束状态 透明度为1*/
    }
    @-webkit-keyframes fade-in {/*针对webkit内核*/
        0% {opacity: 0;}
        40% {opacity: 0;}
        100% {opacity: 1;}
    }

.active .text p{
	animation: fade-in 1.5s;/*动画名称 时间*/
	-webkit-animation:fade-in 1.5s;/*针对webkit内核*/
    }

.active .images .sel{
	/*animation: fade-in 1s;
	-webkit-animation:fade-in 1s;*/
}

.game_over{
	animation: fade-in 1s;
}